# Replace this file with the .env file from creating your tiger cloud service
# Edit tiger-cloud-workshop_db-credentials.env with:
PGPASSWORD=YOUR_PASSWORD
PGUSER=tsdbadmin
PGDATABASE=tsdb
PGHOST=YOUR_HOST_NAME
PGPORT=39171

MQTT_HOST=54.160.239.103
MQTT_PORT=1883
