# Replace this file with the .env file from creating your tiger cloud service# Edit tiger-cloud-workshop_db-credentials.env with:
TIMESCALEDB_HOST=YOUR_HOST_NAME
TIMESCALEDB_PORT=39171
TIMESCALEDB_NAME=tsdb
TIMESCALEDB_USER=tsdbadmin
TIMESCALEDB_PASSWORD=YOUR_PASSWORD

# Optional: Override default MQTT broker
# MQTT_HOST=your-mqtt-host
# MQTT_PORT=1883
